@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    color: #2c201e;
    font: 18px/1.618 sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;

}

a{
    color: #2c201e;
    padding: .25rem .5rem;
    text-decoration: none;
}

.container{
    background-color: #dce0e1;
    margin: 2 rem auto;
    position: absolute;
    width: 100%;
    
}

.header{
    /*display: flex;
    align-items: center;
    justify-content: space-between; */
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
    

}

#header__logo{
    margin-left: 1rem;
    font-style: bold;   
}

.header__nav_list{
    display: flex;
    align-items: center;
}

.header__nav_listItem{
    list-style-type: none;
    margin: 1rem;

}

.header__nav_listItem:hover{
    background-color: #edd5bf;
    border: 1px #2c201e;
    border-radius: 1rem;
    transition: .5s;
}

.profile{
    display: flex;
    justify-content: space-evenly;
}

.article__profile{
    /*display: flex;
    flex-direction: column;*/
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px;
}

.profile__image{
    height:auto;
    max-width: 100%;
}

.projects__title{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.projects{
    display: grid;
    grid-template-columns: auto auto auto;
}

.projects__column_image{
    height: auto;
    max-width: 50%;
}

.projects__column_figure{
    text-align: center;
}

.projects__column_button{
    border-radius: 5px;
    bottom: .5rem;
    color: #2c201e;
    margin: 0px;
    opacity: 0;
    position: relative;
    transition: opacity .5s ease-out;
    transition: 1s;
}

.projects__column_figure:hover .projects__column_button{
    bottom: 2.5rem;
    opacity: .8;
}

.projects_column{
    padding-left: .5rem;
}

.projects_column_title{
    text-align: center;
}

.projects__column_image{
    text-align: center;
    height: auto;
    max-width: 100%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa{
    border-radius: 8px;
    padding: 10px
    font-size: 15px


}
